<br>
<div class"jumbotron">
  <div class="row">
    <h1>About Mockipedia</h1>

    <p>Mockipedia is a Ruby on Rails web application that's supposed to be a mock wikipedia</p>
    <p>See it on my <%= link_to "Github", "https://github.com/Wyzardsleeves/blocipedia" %></p>
  </div>
</div>
