<h1>About Blocipedia</h1>

<p>Blocipedia is a Ruby on Rails web application that I'm building from the ground up.</p>
<p>See it on my <%= link_to "Github", "https://github.com/Wyzardsleeves/blocipedia" %></p>
