<!--
<h1>Welcome#inde</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
<br>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1>Blocipedia: Social, Markdown Wikis</h1>
    </div>
    <div class="col-md-4 panel-2">
      <h5>Create and share Markdown Wikis</h5>
      <button class="btn btn-primary">Sign In!</button>
    </div>
    <div class="col-md-4">
      <table>
        <td>
          <p>Create private wikis.</p>
          <span class="ion-android-done"></span>
          <h5>Free Plan</h5>
        </td>
        <td>
          <p>Create private wikis!</p>
          <span class="ion-android-done-all"></span>
          <h5>Premium Plan</h5>
        </td>
      </table>
    </div>
  </div>
</div>
