<!--
<h1>Welcome#inde</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
<br>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1>Blocipedia: Social, Markdown Wikis</h1>
    </div>
    <div class="col-md-4 panel-2">
      <% unless user_signed_in? %>
        <h5>Create and share Markdown Wikis</h5>
        <%= link_to "Sign In!", new_user_session_path, class: "btn btn-primary" %>
      <% else %>
        <h5>Create and share Markdown Wikis</h5>
        <p>Logged in with <span><%= current_user.email %></span>!</p>
        <!-- <p>Welcome #{user_signed_in}</p> -->
        <%= link_to "Wiki List", wikis_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>Multiple public wikis.</p>
      <span class="ion-android-done"></span>
      <h5>Free Plan</h5>
    </div>
    <div class="col-xs-6">
      <p>Create private wikis!</p>
      <span class="ion-android-done-all"></span>
      <h5>Premium Plan</h5>
    </div>
  </div>
</div>
