/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "boostrap-sprockets";
@import "bootstrap";

html{
  max-width: 1500px;
  min-width: 900px;
  float: center;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
  line-height: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.sign-in p{
  float: right;
}

.sign-in a{
  text-decoration: none;
}

.nav {
  list-style: none;
  display: inline;
  float: left;
}

.nav li{
  display: inline;
}

.nav a{
  padding: 0 20px 0 0;
  text-decoration: none;
}
