// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Ubuntu', sans-serif;

@import "bootstrap";

.row{
  float: center;
  margin-top: 20px;
}

/*Bottom elements*/
.col-md-4{
  margin: 60px;
  h5{
    text-align: center;
  }
}

.blocipedia-image{
  margin: 0 auto;
  text-align: center;
  img{
    width: 500px;
  }
}

.panel-2{
  padding: 15px;
  float: center;
  background-color: rgba(210, 210, 210, 0.5);
  p{
    font-size: 25px;
    text-align: center;
  }
  span{
    font-size: 25px;
    text-align: center;
    color: green;
  }
  .btn-primary{
    padding: 10px;
    width: 100%;
    margin: 10px 0 10px 0;
  }
}

.premem{
  text-align: center;
  span{
    display: inline;
    text-align: center;
  }
  h3{
    display: inline;
    text-align: center;
  }
}

.panel-3{
  text-align: center;
}

h5{
  color: gray;
  font-size: 20px;
  text-align: center;
}

span{
  font-size: 80px;
}
