// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Ubuntu', sans-serif;


.col-md-4{
  margin: 60px;
}

.col-md-4 h5{
  text-align: center;
}

h1{
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 31px;
  color: rgb(100, 100, 100);
}

.row{
  float: center;
}

table{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.panel-2{
  background-color: rgba(210, 210, 210, 0.5);
  padding: 15px 0 50px 0;
}

.panel-2 p{
  font-size: 25px;
  text-align: center;
}

.panel-2 span{
  font-size: 25px;
  text-align: center;
  color: green;
}

td{
  width: 120px;
  padding: 0 30px 0 30px;
}

h5{
  color: gray;
  font-size: 20px;
  text-align: center;
}

button{
  display: block;
  width: 150px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 5px 0 5px 0;
  /*
  background-color:#a8f7a9;
  border-radius: 5px;
  border: none;
  border-bottom:5px solid green;
  */
}

span{
  font-size: 60px;
}
