// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ion-ios-unlocked-outline, .ion-ios-locked-outline, .list p{
  font-size: 20px;
}

.ion-plus-round, .ion-close-round{
  font-size: 20px;
}

.ion-ios-unlocked-outline, .ion-plus-round{
  color: green;
}

.ion-ios-locked-outline, .ion-close-round{
  color: red;
}
